{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    position: relative;
    width: 1433px;
    height: 2503px;
    background: url(megal.jpg)
}
.logo1 img{
    width: 6.8%;
    background-size: 150px;
    z-index: 100;
    position: relative;
    margin-left: 78px;
    top: 3px;
}
.logo2 img{
    width: 19%;
    background-size: 150px;
    z-index: 100;
    position: relative;
    margin-left: 210px;
    top: -70px;
}

.rec1{
    position: absolute;
width: 1433px;
height: 126px;
left: 0px;
top: 0px;
background: linear-gradient(180deg, rgba(142, 54, 54, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #709FCA;
}

.rec2{
    position: absolute;
width: 1433px;
height: 30px;
left: 0px;
top: 114px;

background: #21517D;
    
}


.rec3{
    
position: absolute;
width: 49px;
height: 3440px;
left: 0px;
top: 144px;

background: #86A1BA;
}

.rec4{
    position: absolute;
width: 49px;
height: 3440px;
left: 1384px;
top: 144px;

background: #86A1BA;
}

.rec5{
    position: absolute;
width: 1336px;
height: 810px;
left: 48px;
top: 1271px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #485663;
}

.rec6{
    position: absolute;
width: 306px;
height: 119px;
left: 974px;
top: 524px;

background: #848484;
border-radius: 120px;
}

.rec7{
    position: absolute;
width: 276px;
height: 99px;
left: 989px;
top: 534px;

background: #DC3C3C;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 120px;
}

.rec8{
    position: absolute;
width: 616px;
height: 358px;
left: 149px;
top: 757px;

background: #000000;
    
}

.ball1{
    position: absolute;
width: 136px;
height: 136px;
left: 1084px;
top: 226px;
border-radius: 120px;
background: #C25454;
}

.ball2{
    position: absolute;
width: 28px;
height: 29px;
left: 1138px;
top: 280px;
background: #FFFFFF;
    border-radius: 120px;
}

.ball3{
    position: absolute;
width: 18px;
height: 18px;
left: 1143px;
top: 285px;
border-radius: 120px;
background: #C25454;
    z-index: 80;
}

.line1{
    position: absolute;
width: 136px;
height: 0px;
left: 1084px;
top: 292px;

border: 2px solid #FFFFFF;
transform: rotate(-0.42deg);
}

.line2{
    position: absolute;
width: 1121px;
height: 0px;
left: 157px;
top: 2238px;

border: 3px solid rgba(30, 52, 109, 0.75);
transform: rotate(-0.05deg);
}

.rec9{
    position: absolute;
width: 1335px;
height: 62px;
left: 49px;
top: 3518px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #E6E6E6;
}

.rec10{
    position: absolute;
width: 1433px;
height: 148px;
left: 0px;
top: 3580px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #21517D;
}
.rec11{
position: absolute;
width: 215px;
height: 54px;
left: 159px;
top: 3415px;

background: #EBDADA;
border-radius: 300px;
}

.rec0{
    position: absolute;
width: 596px;
height: 337px;
left: 159px;
top: 766px;

background: url(Screen%20Shot%202021-04-26%20at%2017.56.33.png);
}

h1{
    font-family: 'Molengo', sans-serif;
    position: absolute;
width: 876px;
height: 232px;
left: 147px;
top: 184px;

font-style: normal;
font-weight: normal;
font-size: 74px;
line-height: 89px;

color: #000000;

}

h3{
    position: absolute;
width: 876px;
height: 232px;
left: 147px;
top: 339px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 48px;

color: #000000;

}

h4{
    
position: absolute;
width: 221px;
height: 46px;
left: 1022px;
top: 566px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;

}

h5{
    position: absolute;
width: 723px;
height: 293px;
left: 147px;
top: 434px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 48px;

color: #134AD8;
}

.play p{
   position: absolute;
width: 221px;
height: 46px;
top: 536px;
margin-left: 1015px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
    z-index: 100;

color: #ffffff;
}

.play p:hover{
    color:blue;
}

.trailer p{
    position: absolute;
width: 264px;
height: 58px;
left: 155px;
top: 1130px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 59px;

color: #BF1D1D;

}

.howtoplay p{
    position: absolute;
width: 949px;
height: 248px;
left: 170px;
top: 1278px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 62px;
line-height: 74px;

color: #fff;
    z-index: 100;
}

.how1 h2{
    position: absolute;
width: 1117px;
height: 745px;
left: 158px;
top: 1416px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 57px;

color: #FF9F9F;
z-index: 100;
}

.how1 p{
    position: absolute;
width: 1117px;
height: 745px;
left: 150px;
top: 1946px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #fff;
z-index: 100;
}

.howpic1{
    
    position: absolute;
width: 430px;
height: 390px;
left: 159px;
top: 1540px;
    z-index: 100;
    border-style: solid;

background: url(acc.png);
}

.howpic2{
    
    position: absolute;
width: 480px;
height: 270px;
left: 830px;
top: 1618px;
    z-index: 100;
    border-style: solid;

background: url(scc.png);
}

.how2 h2{
    position: absolute;
width: 400px;
height: 780px;
left: 836px;
top: 1414px;
    line-height: 20px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 56px;

color: #FF9F9F;
z-index: 100;
}


.how3 h2{
    position: absolute;
width: 400px;
height: 780px;
left: 836px;
top: 1490px;
    line-height: 20px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 56px;

color: #FF9F9F;
z-index: 100;
}
.how2 p{
    position: absolute;
width: 400px;
height: 745px;
left: 860px;
top: 1920px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #fff;
z-index: 100;
}

.news{
    position: absolute;
width: 700px;
height: 232px;
left: 18px;
top: 1890px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 86px;

color: #000000;
    z-index: 100;
}

.news1 h2{
    position: absolute;
width: 876px;
height: 61px;
left: 159px;
top: 2275px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 48px;

color: #000000;
}

.news1 p{
    position: absolute;
width: 1119px;
height: 367px;
left: 159px;
top: 2400px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 44px;

color: #701B3A;
}

.from1 h3{
    font-family: 'Modern Antiqua', cursive;
    position: absolute;
width: 1119px;
height: 367px;
left: 159px;
top: 2720px;

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 27px;

color: #FF005C;
}

.news2 h2{
    position: absolute;
width: 876px;
height: 61px;
left: 159px;
top: 2797px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 48px;

color: #000000;
}

.news2 p{
    position: absolute;
width: 1119px;
height: 692px;
left: 159px;
top: 2920px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 44px;

color: #701B3A;
}

.from2 h3{
    font-family: 'Modern Antiqua', cursive;
    position: absolute;
width: 1119px;
height: 367px;
left: 159px;
top: 3320px;

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 27px;

    color: #FF005f;
}
.othernews h3{
    
    position: absolute;
width: 1119px;
height: 36px;
left: 206px;
top: 3404px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 37px;
z-index: 100;
color: #701B3A;
}

.dc h3{
    position: absolute;
width: 617px;
height: 61px;
left: 240px;
top: 3509px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
    z-index: 100;

color: #683838;

}
.us h3{
    position: absolute;
width: 617px;
height: 61px;
left: 540px;
top: 3509px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
    z-index: 100;

color: #683838; 
}
.s h3{
    position: absolute;
width: 617px;
height: 61px;
left: 820px;
top: 3509px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
    z-index: 100;
    color: #683838;
}
.fuot h3{
    
width: 400px;
height: 61px;
left: 1000px;
top: 3509px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
    z-index: 100;
    color: #683838;
}
.bottomnav h3{
    position: absolute;
width: 400px;
height: 10px;
left: 550px;
top: 3650px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 37px;
z-index: 100;

color: #fff;

}
nav{
    flex: 1;
    text-align: right;
    z-index: 100;
    margin-top: -126px;
}
nav ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 90px;
    margin-top: -68px;
    z-index: 100;
}
nav ul li a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    z-index: 100;
}
nav ul li a:hover{
    color: #ff5ea2;
    z-index: 100;
}
    
.void{

position: absolute;
width: 937px;
height: 3728px;
left: 500px;
top: 0px;
z-index: 199;
    display: none;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #282828;
}

.menups img{


    z-index: 200;
    position: relative;
    margin-left: -568px;
    top: -2808px;
    display: none;
}

@media only screen and (max-width:530px){
    
    
    nav ul{
        width: 100%;
        background: linear-gradient(#ff4692, #ff575a);
        position: absolute;
        top: 90px;
        right: 20px;
        z-index: 100;
    }
    
    .menups img{
        display: block;
        
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 100;
    }
    nav ul li a{
        color: transparent;
    }
    nav ul li a:hover{
        color: transparent;
    }
    .menu-icon{
        display: block;
        z-index: 100;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
        z-index: 100;
    }
    .color-box{
        transform: translateX(75px);
    }
    .container{
        width: 120%;
        
    }
    .logo1 img{
        width: 18%;
        left: -58px;
    }
    .logo2 img{
        width: 46%;
        left: -56px;
    }
    .rec3{
        display: none;
    }
    h1{
        top: 288px;
        left: 20px;
        font-size: 50px;
    }
    h3{
        width: 400px;
        top: 390px;
        font-size: 30px;
        left: 20px;
    }
    h5{
        top: 495px;
        font-size: 22px;
        left: 20px;
        width: 470px;
        
    }
    h5 br{
        display: none;
    }
    .rec8{
        width: 400px;
        top: 750px;
        height: 250px;
        left: 47px;
        
    }
    .rec0{
        width: 76%;
        top: 760px;
        height: 230px;
        left: 55px;
    }
    .trailer p{
        top: 980px;
        left: 146px;
    }
    .rec6{
        top: 1090px;
        left: 96px;
    }
    .rec7{
        top: 1100px;
        left: 111px;
        z-index: 2;
    }
    .play p{
        position: absolute;
        top: 1102px;
        right: 136px;
        z-index: 4px;
    }
    .rec5{
        left: 0px;
        height: 1420px;
    }
    .howtoplay p{
        width: 460px;
        font-size: 50px;
        left: 20px;
        top: 1260px;
    }
    .how1 p{
        font-size: 17.5px;
        left: 32px; 
        top: 1970px;
        width: 430px;
    }
    .how1 br{
        display: none;
    }
    .how1 h2{
        left: 40px;
        font-size: 42px;
        top: 1450px;
    }
    .howpic1{
        left: 32px;
        top: 1567px;
    }
    .how2 p{
        font-size: 17.5px;
         left: 32px; 
        top: 2554px;
        width: 440px;
    }
    .how2 br{
        display: none;
    }
    .news1 h2{
        display: none;
    }
    .news1 p{
        height: 100px;
        top: 2830px;
        font-size: 21px;
        left: 28px;
    } 
    .news1 br{
        display: none;
    }
    .news2 h2{
        display: none;
    }
    .news2 p{
        display: none;
    }
    .how2 h2{
        left: 40px;
        top: 2090px;
        font-size: 42;
    
    }
     .how3 h2{
        left: 84px;
        top: 2156px;
        font-size: 42;
    }
    .howpic2{
        left: 6px;
        top: 2270px;
    }
    .line2{
      top: 2790px;
        left: 14px;
        width: 468px;
    }
    .news{
        top: 2380px;
    }
    .from1 h3{
        top: 3304px;
        left: 26px;
        z-index: 100;
    }
     .from2{
        display: none;
    }
    .rec9{
        left: 0px;
        z-index: 99px;
        height: 100px;
        z-index: 100;
        top: 3520px;
    }
    .rec10{
        z-index: 95;
    }
    .dc h3{
        top: 3518px;
        left: 70px;
        font-size: 18px;
        z-index: 110;
    }
     .us h3{
        top: 3560px;
        left: 70px;
        font-size: 18px;
        z-index: 110;
    }
    .s h3{
        top: 3518px;
        left: 292px;
        font-size: 18px;
        z-index: 110;
    }
     .fuot h3{
        top: 3560px;
        left: 292px;
        font-size: 18px;
        z-index: 110;
    }
    .bottomnav h3{
        top: 3662px;
        left: 110px;
        font-size: 18px;
        z-index: 110;
    }
    .void{
      display: block;
    }
    
        .container{
        left: -13px;
    }
    
    .rec11{
        left: 144px;
    }
    .othernews h3{
        left: 193px;
    }