{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container
{
    position: relative;
width: 1433px;
height: 1200px;

 background: url(rekuza.png)
}

.logo1 img{
    width: 6.8%;
    background-size: 150px;
    z-index: 100;
    position: relative;
    margin-left: 78px;
    top: 3px;
}
.logo2 img{
    width: 19%;
    background-size: 150px;
    z-index: 100;
    position: relative;
    margin-left: 210px;
    top: -70px;
}
    
.menu-icon{
    width: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
nav{
    flex: 1;
    text-align: right;
    z-index: 100;
    margin-top: -126px;
}
nav ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 90px;
    margin-top: -68px;
    z-index: 100;
}
nav ul li a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    z-index: 100;
}
nav ul li a:hover{
    color: #ff5ea2;
    z-index: 100;
}

h1{
    position: absolute;
width: 876px;
height: 120px;
left: 143px;
top: 200px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 86px;

color: #fff;
}

.infinite1 p{
    position: absolute;
width: 321.86px;
height: 223.16px;
left: 686px;
top: 204px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 98.7046px;
line-height: 118px;

color: #FFFFFF;

transform: rotate(89.74deg);
    z-index: 80;
}
.infinite2 p{
     position: absolute;
width: 321.86px;
height: 223.16px;
left: 1088px;
top: -70px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 98.7046px;
line-height: 118px;

color: #fff;

transform: rotate(270.74deg);
    z-index: 80;
}
.useron{
    position: absolute;
width: 178px;
height: 40px;
left: 819px;
top: 292px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #FFFFFF;
z-index: 100;
}
.activeb{
    position: absolute;
width: 178px;
height: 40px;
left: 1118px;
top: 292px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #fff;
z-index: 100;
}

.customize p{
    position: absolute;
width: 1104px;
height: 64px;
left: 144px;
top: 446px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 52px;
line-height: 72px;

color: #611414;
    z-index: 100;
}

.format p{
     position: absolute;
width: 500px;
height: 64px;
left: 820px;
top: 618px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 72px;
color: background: linear-gradient(180deg, #7D7C7C 0%, rgba(255, 255, 255, 0) 100%),
linear-gradient(#02062C, #02062C);
    z-index: 100;
}

.tri{ 
    position: absolute;
width: 24.8px;
height: 20.22px;
left: 1186.33px;
top: 776.38px;
color: #858585;
transform: matrix(-1, 0.01, -0.01, -1, 0, 0);
z-index: 100;
}

.gen8{
    position: absolute;
width: 500px;
height: 64px;
left: 840px;
top: 722px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 72px;

color: #000000;
    z-index: 100;
}

.rteam{
     position: absolute;
width: 500px;
height: 64px;
left: 934px;
top: 890px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 72px;

color: #000000;
    z-index: 100;
}

.team{
    position: absolute;
width: 500px;
height: 64px;
left: 822px;
top: 790px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 72px;
color: background: linear-gradient(180deg, #7D7C7C 0%, rgba(255, 255, 255, 0) 100%),
linear-gradient(#02062C, #02062C);
    z-index: 100;
}

.noallow{
    position: absolute;
width: 500px;
height: 64px;
left: 892px;
top: 990px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 72px;
color: background: linear-gradient(180deg, #7D7C7C 0%, rgba(255, 255, 255, 0) 100%),
linear-gradient(#02062C, #02062C);
    z-index: 100;
}
.battle p{
    position: absolute;
width: 500px;
height: 64px;
left: 644px;
top: 1168px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 72px;
color: #fff;
    z-index: 100;
}
.randomopp{
    position: absolute;
width: 500px;
height: 64px;
left: 566px;
top: 1254px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 72px;
color: #fff;
    z-index: 100;
}
.randomopp a{
    color: #fff;
    text-decoration: none;
}
.teamb{
    position: absolute;
width: 500px;
height: 64px;
left: 328px;
top: 1474px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 72px;
color: #fff;
    z-index: 100;
}
.teamb a{
    color: #fff;
    text-decoration: none;
}
.custommon{
    background-size: 50%;
  position: absolute;
width: 820px;
height: 650px;
left: 200px;
top: 569px;


background: url(pokeb.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 120;
}
.ladder{
    position: absolute;
width: 500px;
height: 64px;
left: 362px;
top: 1562px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 72px;
color: #fff;
    z-index: 100;
}
.ladder a{
    color: #fff;
    text-decoration: none;
}
.watchb{
    position: absolute;
width: 500px;
height: 64px;
left: 934px;
top: 1477px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 72px;
color: #fff;
    z-index: 100;
}
.watchb a{
    color: #fff;
    text-decoration: none;
}
.find{
    position: absolute;
width: 500px;
height: 64px;
left: 956px;
top: 1566px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 72px;
color: #fff;
    z-index: 100;
}
.find a{
    color: #fff;
    text-decoration: none;
}
.ocr{
     position: absolute;
width: 500px;
height: 64px;
left: 138px;
top: 1770px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.cr{
     position: absolute;
width: 500px;
height: 64px;
left: 814px;
top: 1770px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}

.circle1{
    position: absolute;
width: 17px;
height: 17px;
left: 131px;
top: 1962px;

background: #3E3E3E;
    border-radius: 120px;
    z-index: 100;
}
.circle2{
    position: absolute;
width: 17px;
height: 17px;
left: 131px;
top: 2062px;

background: #3E3E3E;
    border-radius: 120px;
    z-index: 100;
}
.circle3{
    position: absolute;
width: 17px;
height: 17px;
left: 131px;
top: 2161px;

background: #3E3E3E;
    border-radius: 120px;
    z-index: 100;
}
.circle4{
        position: absolute;
width: 17px;
height: 17px;
left: 804px;
top: 1962px;

background: #3E3E3E;
         border-radius: 100px;
    z-index: 100;
}
.circle5{
    position: absolute;
width: 17px;
height: 17px;
left: 804px;
top: 2061px;

background: #3E3E3E;
    border-radius: 100px;
    z-index: 100;
}
.circle6{
    position: absolute;
width: 17px;
height: 17px;
left: 804px;
top: 2161px;

background: #3E3E3E;
    border-radius: 100px;
    z-index: 100;
}

.l{
    position: absolute;
width: 500px;
height: 64px;
left: 194px;
top: 1890px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.l a{
    color: #3e3e3e;
    text-decoration: none;
}
.t{
    position: absolute;
width: 500px;
height: 64px;
left: 194px;
top: 1992px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.t a{
    color: #3e3e3e;
    text-decoration: none;
}
.h{
    position: absolute;
width: 500px;
height: 64px;
left: 194px;
top: 2090px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.h a{
    color: #3e3e3e;
    text-decoration: none;
}
.nd{
    position: absolute;
width: 500px;
height: 64px;
left: 868px;
top: 1890px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.nd a{
    color: #3e3e3e;
    text-decoration: none;
}
.rb{
     position: absolute;
width: 500px;
height: 64px;
left: 868px;
top: 1992px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.rb a{
    color: #3e3e3e;
    text-decoration: none;
}
.vcg{
    position: absolute;
width: 500px;
height: 64px;
left: 868px;
top: 2090px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 72px;
color: #3e3e3e;
    z-index: 100;
}
.vcg a{
    color: #3e3e3e;
    text-decoration: none;
}
.u1{
    position: absolute;
width: 147px;
height: 132px;
left: 489px;
top: 1920px;

font-family: 'Lexend Peta', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #3A3A3A;
    z-index: 100;
}
.u1 a{
    color: #3a3a3a;
    text-decoration: none;
}
.u2{
    position: absolute;
width: 147px;
height: 132px;
left: 489px;
top: 2020px;

font-family: 'Lexend Peta', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #3A3A3A;
    z-index: 100;
}
.u2 a{
    color: #3a3a3a;
    text-decoration: none;
}
.u3{
    position: absolute;
width: 147px;
height: 132px;
left: 489px;
top: 2120px;

font-family: 'Lexend Peta', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #3A3A3A;
    z-index: 100;
}
.u3 a{
    color: #3a3a3a;
    text-decoration: none;
}
.u4{
    position: absolute;
width: 147px;
height: 132px;
left: 1160px;
top: 1920px;

font-family: 'Lexend Peta', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #3A3A3A;
    z-index: 100;
}
.u4 a{
    color: #3a3a3a;
    text-decoration: none;
}
.u5{
    position: absolute;
width: 147px;
height: 132px;
left: 1160px;
top: 2020px;

font-family: 'Lexend Peta', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #3A3A3A;
    z-index: 100;
}
.u5 a{
    color: #3a3a3a;
    text-decoration: none;
}
.u6{
       position: absolute;
width: 147px;
height: 132px;
left: 1160px;
top: 2120px;

font-family: 'Lexend Peta', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #3A3A3A;
    z-index: 100;
}
.u6 a{
    color: #3a3a3a;
    text-decoration: none;
}
.us1{
    position: absolute;
width: 200px;
height: 40px;
left: 567px;
top: 1930px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #3E3E3E;
    z-index: 100;
}
.us1 a{
    color: #3a3a3a;
    text-decoration: none;
}
.us2{
    position: absolute;
width: 200px;
height: 40px;
left: 567px;
top: 2030px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #3E3E3E;
    z-index: 100;
}
.us2 a{
    color: #3a3a3a;
    text-decoration: none;
}
.us3{
    position: absolute;
width: 200px;
height: 40px;
left: 567px;
top: 2130px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #3E3E3E;
    z-index: 100;
}
.us3 a{
    color: #3a3a3a;
    text-decoration: none;
}
.us4{
    position: absolute;
width: 200px;
height: 40px;
left: 1240px;
top: 1930px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #3E3E3E;
    z-index: 100;
}
.us4 a{
    color: #3a3a3a;
    text-decoration: none;
}
.us5{
   position: absolute;
width: 200px;
height: 40px;
left: 1240px;
top: 2030px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #3E3E3E;
    z-index: 100;
}
.us5 a{
    color: #3a3a3a;
    text-decoration: none;
}
.us6{
        position: absolute;
width: 200px;
height: 40px;
left: 1240px;
top: 2130px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #3E3E3E;
    z-index: 100;
}
.us6 a{
    color: #3a3a3a;
    text-decoration: none;
}
.join{
    font-family: 'Molengo', sans-serif;
    position: absolute;
width: 200px;
height: 36px;
left: 1171px;
top: 2242px;

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;

color: #FFFFFF;

z-index: 100;
}
.join a{
    color: #fff;
    text-decoration: none;
}
.rec1{
    
position: absolute;
width: 1433px;
height: 126px;
left: 0px;
top: 0px;
background: linear-gradient(180deg, rgba(142, 54, 54, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #709FCA;
}

.rec2{
 position: absolute;
width: 1433px;
height: 30px;
left: 0px;
top: 114px;

background: #21517D;
}

.rec3{
    position: absolute;
width: 49px;
height: 2349px;
left: 0px;
top: 144px;

background: #86A1BA;
}
.rec4{
    position: absolute;
width: 49px;
height: 2349px;
left: 1384px;
top: 144px;

background: #86A1BA;
}
.rec5{
    position: absolute;
width: 246px;
height: 143px;
left: 773px;
top: 223px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #A4A4A4;
border-radius: 35px;
}
.rec6{
    position: absolute;
width: 246px;
height: 143px;
left: 1072px;
top: 223px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #A4A4A4;
border-radius: 35px;
}
.rec7{
    position: absolute;
width: 1336px;
height: 932px;
left: 48px;
top: 466px;
opacity: 100%;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), rgba(91, 103, 133, 0.67);
}
.rec8{
    position: absolute;
width: 546px;
height: 495px;
left: 744px;
top: 646px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 25px;
}
.rec9{
    
position: absolute;
width: 423px;
height: 53px;
left: 811px;
top: 757px;

background: #FFFFFF;
border-radius: 10px;
}
.rec10{
    position: absolute;
width: 423px;
height: 53px;
left: 811px;
top: 926px;

background: #FFFFFF;
border-radius: 10px;
}
.rec11{
    position: absolute;
width: 53px;
height: 53px;
left: 820px;
top: 1033px;

background: #FFFFFF;
border-radius: 10px;
}
.rec12{
    position: absolute;
width: 863px;
height: 129px;
left: 290px;
top: 1221px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #5C5C5C;
border-radius: 20px;
}
.rec13{
    position: absolute;
width: 1336px;
height: 391px;
left: 48px;
top: 1398px;
opacity: 100%;
background: #F0F0F0;
}
.rec14{
    position: absolute;
width: 542px;
height: 215px;
left: 139px;
top: 1478px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.8);
border-radius: 40px;
}
.rec15{
    position: absolute;
width: 542px;
height: 215px;
left: 747px;
top: 1478px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.8);
border-radius: 40px;
}
.rec16{
    position: absolute;
width: 407px;
height: 59px;
left: 205px;
top: 1509px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #3E69A9;
border-radius: 15px;
}
.rec17{
    position: absolute;
width: 407px;
height: 59px;
left: 206px;
top: 1598px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #5E88AE;
border-radius: 15px;
}
.rec18{
    position: absolute;
width: 402px;
height: 59px;
left: 818px;
top: 1512px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #44ADB4;
border-radius: 15px;
}
.rec19{
    position: absolute;
width: 402px;
height: 59px;
left: 823px;
top: 1601px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #5E88AE;
border-radius: 15px;
}
.rec20{
    position: absolute;
width: 549px;
height: 85px;
left: 108px;
top: 1926px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 20px;
}
.rec21{
    position: absolute;
width: 549px;
height: 85px;
left: 108px;
top: 2026px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 20px;
}
.rec22{
    position: absolute;
width: 549px;
height: 85px;
left: 108px;
top: 2126px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 20px;
}
.rec23{
    position: absolute;
width: 549px;
height: 85px;
left: 781px;
top: 1926px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 20px;}
.rec24{
    position: absolute;
width: 549px;
height: 85px;
left: 781px;
top: 2026px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 20px;
}
.rec25{
    position: absolute;
width: 549px;
height: 85px;
left: 781px;
top: 2126px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
border-radius: 20px;
}
.rec26{
    position: absolute;
width: 1335px;
height: 92px;
left: 49px;
top: 2324px;
z-index: 98;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #E6E6E6;
}
.rec27{
    position: absolute;
width: 1433px;
height: 146px;
left: 0px;
top: 2386px;
    z-index: 99;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #21517D;
}
.rec28{
    position: absolute;
width: 193px;
height: 45px;
left: 1129px;
top: 2248px;

background: #1a1a1a;
border-radius: 300px;
}
.line{
    position: absolute;
width: 386px;
height: 0px;
left: 520px;
top: 2070px;

border: 2px solid rgba(0, 0, 0, 0.75);
transform: rotate(90.15deg);
}
.dc h3{

position: absolute;
width: 263px;
height: 61px;
left: 226px;
top: 2316px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #683838;
    z-index: 100;
}
.us h3{
    position: absolute;
width: 263px;
height: 61px;
left: 540px;
top: 2316px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #683838;
    z-index: 100;
}
.s h3{
 position: absolute;
width: 263px;
height: 61px;
left: 816px;
top: 2316px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #683838;
    z-index: 100;
}

.fuot h3{
    position: absolute;
width: 263px;
height: 61px;
left: 1020px;
top: 2316px;

font-family: Molengo;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #683838;
    z-index: 100;

}
.bottomnav h3{
    position: absolute;
width: 400px;
height: 10px;
left: 550px;
top: 2460px;

font-family: 'Molengo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 37px;
z-index: 100;

color: #fff;

}
.rec29{
    
position: absolute;
width: 1336px;
height: 535px;
left: 49px;
top: 1789px;
background: #A9A9A9;
    opacity: 80%;


}

.void{
position: absolute;
width: 940px;
height: 2532px;
left: 500px;
top: 0px;
z-index: 199;
    display: none;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #282828;
}

.menups img{

    background-size: 150px;
    z-index: 200;
    position: relative;
    margin-left: -568px;
    top: -1505px;
    display: none;
}

@media only screen and (max-width:530px){
    
       
    nav ul{
        width: 100%;
        background: linear-gradient(#ff4692, #ff575a);
        position: absolute;
        top: 90px;
        right: 20px;
        z-index: 100;
    }
       
    .menups img{
        display: block;
        
    }
    
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 100;
    }
     nav ul li a{
        color: transparent;
    }
    nav ul li a:hover{
        color: transparent;
    }
    .menu-icon{
        display: block;
        z-index: 100;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
        z-index: 100;
    }
    .color-box{
        transform: translateX(75px);
    }
    .container{
        width: 120%;
    }
    .logo1 img{
        width: 18%;
        left: -58px;
    }
    .logo2 img{
        width: 46%;
        left: -56px;
    }
    .rec3{
        display: none;
    }
    .rec7{
        left: 0px;
        top: 600px;
    }
    .rec13{
        left: 0px;
        height: 470px;
        top: 1340px;
    }
    .rec29{
        left: 0px;
        top: 1810px;
    }
     .rec26{
        left: 0px;
         height: 100px;
    }
      .dc h3{
        top: 2362px;
        left: 70px;
        font-size: 18px;
        z-index: 110;
    }
     .us h3{
        top: 2320px;
        left: 70px;
        font-size: 18px;
        z-index: 110;
    }
    .s h3{
        top: 2362px;
        left: 292px;
        font-size: 18px;
        z-index: 110;
    }
     .fuot h3{
        top: 2320px;
        left: 292px;
        font-size: 18px;
        z-index: 110;
    }
    .bottomnav h3{
        top: 2466px;
        left: 110px;
        font-size: 18px;
        z-index: 110;
    }
    .rec27{
         z-index: 97;
    
    }
       h1{
        top: 288px;
        left: 48px;
        font-size: 50px;
    }
    .custommon{
        display: none;
    }
    .customize p{
        left: 41px;
        font-size: 46px;
        top: 570px;
        width: 400px;
        line-height: 70px;
    }
    .useron{
        left: 98px;
        top: 490px;
        font-size: 18px;
    }
       .activeb{
        left: 308px;
        top: 490px;
        font-size: 18px;
    }
    .infinite1 p{
        left: -64px;
        top: 460px;
        font-size: 58px;
    }
     .infinite2 p{
        left: 252px;
        top: 166px;
        font-size: 58px;
    }
    .rec5{
        left: 70px;
        height: 120px;
        width: 150px;
        top: 434px;
    }
     .rec6{
        left: 286px;
        height: 120px;
        width: 150px;
        top: 434px;
    }
    .rec8{
        left: 34px;
        height: 370px;
        width: 430px;
        top: 780px;
        
    }
    .format p{
        left: 78px;
        font-size: 44px;
        top: 750px;
    }
    .rec9{
        left: 76px;
        top: 868px;
        width: 350px;
        height: 46px;
    }
    .gen8{
          left: 106px;
        top: 834px;
        font-size: 22px;
    }
    .tri{
           left: 376px;
        top: 890px;
        font-size: 22px;
    }
    .team{
         left: 78px;
        top: 890px;
        font-size: 40px;
    }
    .rec10{
          left: 76px;
        top: 1000px;
        width: 350px;
        height: 46px;
    }
    .rteam{
          left: 170px;
        top: 966px;
        font-size: 22px;
    }
    .battle p{
        top: 1140px;
        left: 192px;
        font-size: 44px;
    }
    .randomopp {
        left: 94px;
        top: 1212px;
    }
    .rec11{
        left: 94px;
        top: 1085px;
        width: 36px;
        height: 36px;
    }
    .rec12{
        left: 34px;
        top: 1180px;
        width: 432px;
    }
    .noallow{
        top: 1044px;
        left: 154px;
        font-size: 26px;
    }
    .rec14{
        left: 33px;
        height: 180px;
        width: 440px;
        top: 1380px;
    }
     .rec16{
        left: 83px;
        height: 50px;
        width: 340px;
        top: 1410px;
    }
     .rec17{
        left: 83px;
        height: 50px;
        width: 340px;
        top: 1479px;
    }
    .teamb{
        top: 1376px;
        left: 185px;
        font-size: 24px;
    }
     .ladder{
        top: 1445px;
        left: 216px;
        font-size: 24px;
    }
    .rec15{
        left: 33px;
        height: 180px;
        width: 440px;
        top: 1590px;
    }
    .rec18{
         left: 83px;
        height: 50px;
        width: 340px;
        top: 1620px;
    }
        .rec19{
         left: 83px;
        height: 50px;
        width: 340px;
        top: 1690px;
    }
     .watchb{
        top: 1586px;
        left: 178px;
        font-size: 24px;
    }
      .find{
        top: 1656px;
        left: 194px;
        font-size: 24px;
    }
    .rec20{
        left: 20px;
        top: 1840px;
        width: 460px;
        height: 180px;
    }
    .rec21{
        left: 20px;
        top: 2050px;
        width: 460px;
        height: 180px;
    }
    .rec22{
        display: none;
    }
    
    
    .circle1{
        display: none;
    }
      .circle2{
        display: none;
    }
      .circle3{
        display: none;
    }
      .l{
        display: none;
    }
      .t{
        display: none;
    }
    .h{
        display: none;
    } 
    .u3{
        display: none;
    }
      .us3{
        display: none;
    }
       .u1{
        display: none;
    }
      .u2{
        display: none;
    }
    
    .ocr{
        left: 74px;
        top: 1810px;
        font-size: 44px;
    }
    
       .cr{
        left: 132px;
        top: 2016px;
           font-size: 48px;
    }
    .rec28{
        left: 152px;
        top: 2256px;
    }
    .join{
        font-size: 17px;
        left: 191px;
        top: 2248px;
    }
    .us1{
        left: 300px;
    }
    .us2{
        left: 300px;
        top: 2136px;
    }
    .u6{
        left: 180px;
        top: 2116px;
        font-size: 40px;
    }
  
    .u4{
        left: 180px;
        top: 1908px;
        font-size: 40px;
    }
    .void{
        display: block;
    }
    .container{
        left: -13px;
    }
 